<div class="row" >
    <div class="main" style="display: flex;justify-content: center; ">
        <div class="card" style="width: 100%;">
            <!-- <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div> -->
            <div class="topnav">
                <!-- <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 40px;">WELCOME TO FARMARKET</h1> -->
  
                <img src="./assets/logo.png" style="float:left;size: 150px;padding-bottom:60px,70px">
  
                <div class="links">
                    <a [routerLink]="['/contactlink']"
                        style="font-size: 40px ;text-align: center; border-radius: 200px; padding-bottom:60px;opacity: 1;font-family:'Times New Roman', Times, serif;color: rgb(0, 0, 0);">Contact
                        </a>
                                      <a [routerLink]="['/loginlink']"
                        style=" font-size: 40px;border-radius: 200px;margin-right: 20px;padding-bottom:60px;opacity: 1;font-family:'Times New Roman', Times, serif;color: rgb(0, 0, 0);">Login</a>
                    <a [routerLink]="['/homelink']"
                        style=" font-size: 40px;border-radius: 200px;margin-right: 20px;padding-bottom:60px;opacity: 1;font-family:'Times New Roman', Times, serif;color: rgb(0, 0, 0);">Home</a>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="row">
       
    <div class="main1">
       
                   
            
            <div class="cardindex" >
            <p style="font-size: large;">
                LTI (NSE: LTI) is a global technology consulting and digital solutions company helping more than 420 clients succeed in a converging world. With operations in 32 countries, we go the extra mile for our
                clients and accelerate their digital transformation
                with LTI’s Mosaic platform enabling their mobile, dsfsfs
                <br>social, analwerwefytics, IoT and cloud  
            </p>
           
        </div> 
    </div>
    <div class="main1">
        <div class="cardindex" >
            <img src="./assets/farmer.jpg"  style="box-shadow: 1px 1px 21px 1px rgb(46, 46, 46); margin-right: 1%;margin-top: 1%; width: 280px;height: 210px;float: right;">
           
            <p style="font-size: large;">
                Founded 20 years ago as the information technology arm of the Larsen & Toubro group, our unique
                heritage gives us unrivaled real-world expertise to solve the most complex challenges of enterprises
                across all industries. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laborum officia nesciunt harum odio voluptatum sapiente quae quibusdam neque porro? Minus laborum debitis necessitatibus quo non nisi sint laudantium adipisci?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quas voluptates autem? Ducimus id culpa earum repellendus reiciendis tenetur ut voluptatibus accusantium laborum ratione dolorem, praesentium quas nam, assumenda ad.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nam earum nesciunt dolorum exercitationem quas, at minima officiis laborum ex voluptatibus rerum fugit dolores aut reprehenderit! Nemo obcaecati delectus explicabo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus temporibus dolorem cupiditate? Eos unde eum distinctio laborum, commodi, quibusdam itaque cum magnam beatae, quis ducimus ratione dolor officiis accusamus quod.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum ratione accusamus perspiciatis harum tenetur, fugit soluta fuga rerum ipsa atque, laborum rem quia natus ipsam repellat modi cupiditate doloribus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corrupti voluptatem omnis debitis dignissimos asperiores molestias doloribus unde maxime quas dolorem incidunt quaerat, ipsa sit nemo consectetur mollitia facere.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque quasi harum, sunt similique nostrum quisquam expedita sapiente, veritatis ducimus ab placeat, suscipit nisi fugit dolorum laboriosam voluptatem neque sequi rem!
                Lropem
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quisquam minima voluptatum, odio nihil dolor laborum sequi, aliquam fugiat in officiis rerum quibusdam nemo iusto consequatur soluta officia. Maiores, officia!
            </p>
</div>
    </div>
    <div class="main1">
<div class="cardindex" >
            <p style="font-size: large;">
                Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness of
                their business and technology operations and deliver value to their customers, employees and
                sharehold
            </p>
        </div>
        </div> 


        </div>
        <app-footer></app-footer>

