<!DOCTYPE html>
<html>

<head>
  <title>LTI - Larsen & Toubro Infotech</title>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


</head>

<body>
  <app-header></app-header>

  <div class="row">
    <div class="main" style="display: flex;justify-content: center;">
      <div class="card" style="width: 100%;">
        <br>
        <h1 style="text-align: center;font-family: cursive;">Bidder Registration Form</h1><br>
        <!-- <h2 style="text-align: center;">Register to sell and buy at price you want</h2> -->
        <!--<form onsubmit="validate();">-->
        <h1 style="text-align: center;color:rgb(165, 255, 130);"> {{message}}</h1>
        <form id="bidder" #myForm="ngForm" (ngSubmit)="registerBidder()">
          <!-- {{myForm.value|json}} -->
          <div class="container">

            <label><b>Full Name</b></label>
            <input type="text" placeholder="Enter Full Name" name="bidderName" #bidderName="ngModel"
            pattern="[^\s]+[-a-zA-Z\s]+([-a-zA-Z]+)*" [(ngModel)]=bidder.bidderName required>
            <div style="color:rgb(255, 130, 130);" *ngIf="bidderName.invalid && (bidderName.dirty||bidderName.touched)">
              <div *ngIf="bidderName.errors?.required">
                <h2>Please enter your name</h2>
              </div>
              <div *ngIf="bidderName.errors?.pattern">
                <h2>Only Alphabets</h2>
              </div><br>
            </div>

            <label for="bidderContactNo"><b>Contact No.</b></label>

            <input type="tel" placeholder="Enter Contact Number" name="bidderContactNo" pattern="[0-9]{10}"
              #bidderContactNo="ngModel" [(ngModel)]=bidder.bidderContactNo required>
            <div style="color:rgb(255, 130, 130);" *ngIf="bidderContactNo.invalid && (bidderContactNo.dirty||bidderContactNo.touched)">
              <div *ngIf="bidderContactNo.errors?.required">
                <h2>Phone number cannot be empty</h2>
              </div>
              <div *ngIf="bidderContactNo.errors?.pattern">
                <h2>Phone number should be of 10 digits</h2>
              </div><br>
            </div>



            <label for="bidderEmail"><b>Email Address</b></label>
            <input type="email" placeholder="Enter Email Address" name="bidderEmail" #bidderEmail="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]=bidder.bidderEmail required>
            <div style="color:rgb(255, 130, 130);" *ngIf="bidderEmail.invalid && (bidderEmail.dirty||bidderEmail.touched)">
              <div *ngIf="bidderEmail.errors?.required">
                <h2>email cannot be empty</h2>
              </div>
              <div *ngIf="bidderEmail.errors?.pattern">
                <h2>Please enter valid email id</h2>
              </div><br>
            </div>

            <label><b>Address Details</b></label>
            <input type="text" placeholder="Address Line 1" name="addressLine1" style="height:80px; width:320px;"
              [(ngModel)]=bidderAddress.addressLine1 #addressLine="ngModel" required>
            <div style="color:rgb(255, 130, 130);" *ngIf="addressLine.invalid && (addressLine.dirty||addressLine.touched)">
              <div *ngIf="addressLine.errors?.required">
                <h2>Please enter your Address</h2>
              </div>
            </div>

            <input type="text" placeholder="Address Line 2" name="addressLine2" style="height:80px; width:320px;"
              [(ngModel)]=bidderAddress.addressLine2 required>

            <label><b>City</b></label>
            <input type="text" placeholder="Enter City" name="city" [(ngModel)]=bidderAddress.city #bidderCity="ngModel"
              pattern="[^\s]+[-a-zA-Z\s]+([-a-zA-Z]+)*" required>
            <div style="color:rgb(255, 130, 130);" *ngIf="bidderCity.invalid && (bidderCity.dirty||bidderCity.touched)">
              <div *ngIf="bidderCity.errors?.required">
                <h2>Please enter your City</h2>
              </div>
              <div *ngIf="bidderCity.errors?.pattern">
                <h2>Only alphabets allowed</h2>
              </div><br>
            </div>


            <label><b>State</b></label>
            <input type="text" placeholder="Enter state" name="state" [(ngModel)]=bidderAddress.state
              #bidderState="ngModel" pattern="[^\s]+[-a-zA-Z\s]+([-a-zA-Z]+)*" required>
            <div style="color:rgb(255, 130, 130);" *ngIf="bidderState.invalid && (bidderState.dirty||bidderState.touched)">
              <div *ngIf="bidderState.errors?.required">
                <h2>Please enter your State</h2>
              </div>
              <div *ngIf="bidderState.errors?.pattern">
                <h2>Only alphabets allowed</h2>
              </div><br>
            </div>

            <label><b>Pin Code</b></label>
            <input type="tel" placeholder="Enter Pin Code" name="pincode" [(ngModel)]=bidderAddress.pincode
              #pincode="ngModel" pattern="[0-9]{6}" required><br><br>
            <div style="color:rgb(255, 130, 130);" *ngIf="pincode.invalid && (pincode.dirty||pincode.touched)">
              <div *ngIf="pincode.errors?.required">
                <h2>Pincode cannot be empty</h2>
              </div>
              <div *ngIf="pincode.errors?.pattern">
                <h2>Pincode must be of 6 digits</h2>
              </div><br>
            </div>


            <label><b>Bank details:</b></label><br><br>
            <label for="accNo"><b>Account no.</b></label>
            <input type="tel" maxlength="18" placeholder="Enter Account no." name="accNo" [(ngModel)]=bidderBank.accNo
              pattern="[0-9]{6,18}" #accNo="ngModel" required>
            <div style="color:rgb(255, 130, 130);" *ngIf="accNo.invalid && (accNo.dirty||accNo.touched)">
              <div *ngIf="accNo.errors?.required">
                <h2>
                  Account no. cannot be empty</h2>
              </div>
              <div *ngIf="accNo.errors?.pattern">
                <h2>
                  Minimum 6 digits required</h2>
              </div>
            </div>
            <label for="ifsc"><b>IFSC Code</b></label>
            <input type="tel" placeholder="Enter IFSC Code" name="ifscCode" [(ngModel)]=bidderBank.ifscCode
              #ifsc="ngModel" pattern="[A-Z]{4}[0][0-9]{6}" required><br><br>
            <div style="color:rgb(255, 130, 130);" *ngIf="ifsc.invalid && (ifsc.dirty||ifsc.touched)">
              <div *ngIf="ifsc.errors?.required">
                <h2>IFSC code cannot be empty</h2>
              </div>
              <div *ngIf="ifsc.errors?.pattern">
                <h2>
                  Please enter valid IFSC code
                </h2>
              </div>
            </div>


            <label><b>Document details:</b></label><br><br>
            <label><b>Adhaar</b></label>
            <input type="file" name="adhaarCard" required (change)="onFileChange($event)" required #aadhar="ngModel"
              [(ngModel)]=dummyAadhar />

            <!-- done -->

            <div style="color:rgb(255, 130, 130);" *ngIf="aadhar.invalid && (aadhar.dirty||aadhar.touched)">
              <div *ngIf="aadhar.errors?.required">
                <h2>
                  Aadhar card is required
                </h2>
              </div>
            </div>


            <label><b>Pan Card</b></label>
            <input type="file" name="pancard" required (change)="onFileChange1($event)" required #pan="ngModel"
              [(ngModel)]=dummyPan />
            <div style="color:rgb(255, 130, 130);" *ngIf="pan.invalid && (pan.dirty||pan.touched)">
              <div *ngIf="pan.errors?.required">
                <h2 style="color:rgb(255, 130, 130);">
                  Pan card is required
                </h2>
              </div>
            </div>


            
          <br><br>

          <label for="bidderPassword"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="bidderPassword" [(ngModel)]=bidder.bidderPassword
            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" #bidderPassword="ngModel" required>
          <div style="color:rgb(255, 130, 130);" *ngIf="bidderPassword.invalid && (bidderPassword.dirty||bidderPassword.touched)">
            <div *ngIf="bidderPassword.errors?.required">
              <h2>
                Password cannot be empty
              </h2>
            </div>
            <div *ngIf="bidderPassword.errors?.pattern">
              <p>
                minimum one upper case,one special character, one lower case and one number
              <p>
            </div>
          </div>
          <div class="form-group">
            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Enter Password" name="confirmPassword" [(ngModel)]=confirmPassword
              pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" #confirmP="ngModel"
              appConfirmEqualValidator="bidderPassword" required />
            <div style="color:rgb(255, 130, 130);" *ngIf="confirmP.invalid && (confirmP.dirty||confirmP.touched)">
              <div *ngIf="confirmP.errors?.required">
                <h2>
                  Password cannot be empty
                </h2>
              </div>
            </div>
          </div>

          <div style="color:rgb(255, 130, 130);" *ngIf="confirmP.errors?.notEqual && confirmP.touched">
            <p>
              Password does not match
            <p>
          </div>
          

          <span>
            <button type="submit" [disabled]="!myForm.valid" style="display: inline-block;">Register</button>
            <button type="reset" style="display: inline-block;">Reset</button>
          </span>

          <div style="color:rgb(255, 130, 130);" *ngIf=!myForm.valid>please fill mandatory fields</div>
      </div>
      </form>
    </div>

  </div>
  </div>

  <br>

  <div *ngIf="loaderc">
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  </div>
  <app-footer></app-footer>
</body>

</html>