<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTI-Larsen & Toubro Infotech</title>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>

<body>
 
   

  <!-- routing  -->
  <router-outlet></router-outlet>


</body>
</html>