<!DOCTYPE html>
<html>
<head>
    <title>FARMARKET</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    
</head>
<body>
  <app-admin-header></app-admin-header>
      
      <div class="row">
        <div class="main">
          <div class="card">
            <h1 style="display: flex;justify-content: center;">Approve Sell Request</h1>
            <!--<form onsubmit="validate();">-->
                <form>
                    <div class="container" style="display: flex;justify-content: center;" *ngIf="showTable">
                        <table style="width:100%">
                      
                            <tr>
                              <th style="min-width: 180px;">Request Id</th>
                              <th style="min-width: 180px;">Crop Type </th>
                              <th style="min-width: 180px;">Crop Name </th>
                              <th style="min-width: 220px;">Farmer Email </th>
                               <th style="min-width: 180px;">Quantity</th>
                               <th style="min-width: 180px;">Approve</th>
                               <th style="min-width: 180px;">Disapprove</th>
                            </tr>
                            <tr *ngFor="let s of sellRequest;">
                              <td>{{s.requestId}}</td>
                              <td>{{s.cropType}}</td>
                              <td>{{s.cropName}}</td>
                              <td>{{s.farmerEmail}}</td>
                              <td>{{s.quantity}}</td>
                              <td style="padding: 20px;"><button type="button" (click)=approveSellRequest(s.requestId) style="font-size: 20px;border-radius: 30px;max-width: 150px;" >Approve</button></td>
                              <td style="padding: 20px;"><button type="button" (click)=rejectSellRequest(s.requestId) style="font-size: 20px;border-radius: 30px;max-width: 150px;" >Disapprove</button></td>
                          </tr>
                           </table><br><br>
    
                          

                    </div>
                    <div *ngIf="!showTable" style="display: flex;justify-content: center;">
                      <h1 style="color:rgb(165, 255, 130);">  {{msg}}</h1>
                    </div>

                </form>
                        
             
          </div>
        </div>
     </div>
      
     <div *ngIf="loaderc">
      <div class="loader-wrapper">
        <div class="loader"></div>
      </div>
    </div>


     <app-footer></app-footer>      
</body>
</html>

