<!-- 
<div>
    <app-header></app-header>
    
</div>

<div class="row">
    <div class="main1">
        <div class="cardindex" >

           
          
            <p style="font-size: large;">
                LTI (NSE: LTI) is a global technology consulting and digital solutions company helping more than 420 clients succeed in a converging world. With operations in 32 countries, we go the extra mile for our
                clients and accelerate their digital transformation
                with LTI’s Mosaic platform enabling their mobile, social, analytics, IoT and cloud journeys.
            </p>
        
            <p style="font-size: large;">
                Founded 20 years ago as the information technology arm of the Larsen & Toubro group, our unique
                heritage gives us unrivaled real-world expertise to solve the most complex challenges of enterprises
                across all industries. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, omnis inventore, voluptates saepe debitis deleniti libero totam sit quo dolorem aperiam aliquam magnam pariatur reiciendis perspiciatis tempora dolorum eveniet obcaecati.
            </p>
        </div>
    </div>
        <div class="main1">
            <div class="cardindex" >
            <p style="font-size: large;">
                Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness of
                their business and technology operations and deliver value to their customers, employees and
                sharehold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum, quisquam, illum quibusdam minima accusamus ab rem dignissimos nihil laudantium explicabo iure repellendus magnam suscipit nesciunt laboriosam. Explicabo, vel hic.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta illum eos, ut aliquid minima inventore ex dolorem sint ad nesciunt voluptatem atque aliquam quod! Accusamus accusantium temporibus ipsam animi.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia magnam ea ipsam illum odio est explicabo iure, sunt asperiores commodi! Facilis eligendi officiis rerum magnam? Voluptate rerum rem exercitationem sequi.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum perspiciatis earum minima tempora velit natus assumenda? Nam, amet quisquam delectus quas commodi distinctio provident quia, esse accusantium sequi eaque!
        </p>  
    </div>  
        </div>
        <div class="main1">
        <div class="cardindex" >
            <p style="font-size: large;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste rerum delectus cupiditate eligendi dignissimos nemo hic porro fugiat aliquam fuga, voluptatem quod. Quae exercitationem voluptates aspernatur enim vel non et?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, cumque repellat porro voluptatum id aperiam. Qui quasi debitis sint maiores sit. Id culpa eum voluptatum quam nisi repudiandae reiciendis sit.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ipsum tempore tempora nulla laborum veniam, voluptatibus sint, alias consequatur itaque vitae quaerat neque culpa perspiciatis consectetur eum voluptas praesentium. In.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas ex facilis iusto tempore in adipisci accusamus tempora quam dolores libero excepturi, distinctio at animi illo alias aspernatur repellendus incidunt eveniet.Lorem
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde a libero sint numquam fuga sunt eligendi eaque rem quas eum, non ducimus beatae labore enim, earum modi temporibus dolores soluta.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum reiciendis reprehenderit fugiat rem ducimus commodi perspiciatis soluta temporibus, iusto minus veritatis odio, iure quisquam eos. Voluptas ea in fuga harum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse obcaecati vero laborum sequi architecto odit, adipisci eos quia consequuntur alias impedit eligendi eveniet, nemo dolorum vitae earum, quis tenetur excepturi.
            
       
</p>
</div>
    </div>



<app-footer></app-footer> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div>
        <app-header></app-header>
      <div>
          <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 65px;">WELCOME TO FARMARKET</h1>
      </div><br>
    </div>
  

    <div class="row"style="min-width=500px">
        <div class="main1">
            <div class="cardindex" style="max-height: 350px;background-color:rgba(227, 230, 230, 0);">
                
                    <!-- <div class="bg"></div>
                    <div class="bg bg2"></div>
                    <div class="bg bg3"></div> -->
    
    <!-- <div id="css-script-menu">
        <div class="css-script-center">

            <div class="css-script-ads">
               
                <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div class="css-script-clear"></div>
        </div>
    </div> -->
    <section class="back">
        <ul id="menu">
            <li> <a href="#">Leads</a> </li>
            <li> <a href="#">Clients</a> </li>
            <li class="highlighted"> <a href="#">Completed Clients</a> </li>
            <li> <a href="#">Clients</a> </li>
            <li> <a href="#">Clients</a> </li>
            <li> <a href="#">Clients</a> </li>
        </ul>
    </section>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46156385-1', 'cssscript.com');
        ga('send', 'pageview');

    </script>
    </div>
</div>
</div>

<br>
<br>
<br>
    <div class="row">
        <div class="main1">
            <div class="cardindex">



                <p style="text-align: justify;font-size: 25px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                    The Government of India provides various schemes for farmers, but due to lack
                    of awareness and miscommunication, farmers do not avail these benefits. Hence,
                    we try to integrate some of the schemes like Fasal Bima Yojna and Bidding of
                    Crops scheme.
                    We are implementing a system which is automated and helps to reduce the
                    burden on farmers as well as the system. We are providing an online means to
                    apply and claim insurance which will help the system to work efficiently and
                    enhance smooth handling of records.
                    The bidding module will enable the farmer to place crops for auction and receive
                    best price from auction which stabilizes the farmer’s income as well as eliminates
                    the stress of physical sale of crops in the market. We have implemented two
                    modules which will help the farmer to make use of technology and reduce the
                    efforts for selling the crops.
                
                </p>

            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>

</html>