<!DOCTYPE html>
<html>
  <body>
    <div>
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="main" style="display: flex;justify-content: center;height:100%">
        <div class="card" style="width: 100%;">
          <!-- <div class="bg"></div>
          <div class="bg bg2"></div>
          <div class="bg bg3"></div> -->
          <h2 style="text-align: center;">Find Your Account</h2>
          <!--<form onsubmit="validate();">-->
  
          <form id="pwd" #myForm="ngForm" (ngSubmit)="findAccount()">
            <div style="display: flex;justify-content: center;">
              <p style="display: inline-block;color: rgb(161, 250, 161);font-size: 20px;">{{msg}}</p>
            </div>
  
            <!-- {{ myForm.value | json }}  -->
  
            <div class="container">
  
  
               <label for="uname" ><b>Email</b></label>
              <input type="email" placeholder="Enter Email" name="email"
              #email1="ngModel"
                style="box-shadow:0px 5px 15px 5px rgba(124, 124, 124, 0.4);" [(ngModel)]=email required>
                <div style="color:rgb(243, 8, 8);font-size:23px;" *ngIf="email1.invalid && (email1.dirty||email1.touched)">
                  <div *ngIf="email1.errors?.required">email cannot be empty</div>
                  
                  </div>
                   <br><br>
              <button type="submit"
                style="font-size: 25px; box-shadow:1px 1px 15px 1px rgba(0, 10, 70, 0.4);">submit</button>
              <br><br>
            </div>
          </form>
  
        </div>
      </div>
  
      <div *ngIf="loaderc">
        <div class="loader-wrapper">
          <div class="loader"></div>
        </div>
      </div>
      <app-footer></app-footer>
      </div>
  

  </body>
</html>